body {
	font-family: "Verdana", sans-serif;
	margin: 0;
	padding: 0;
}

body::before {
	content: "";
	background-image: url("Prismatic-Polka-Dots-Mark-II-2-No-Background-2400px.png");
  	opacity: 0.3;
  	position: fixed;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	z-index: -1;   
}

header {
	background: radial-gradient(circle, #fb7828, #ee5b32);
	padding: 60px 10px 15px;
	max-width: 100%;
	box-shadow: 0px 1px 1px #888888;
	color: white;
}

h1 {
	font-family: "Courier", sans-serif;
	display: inline;
	font-size: 300%;
	font-weight: normal;
	margin-left: 5px;
}

#bannernav	{
	float: right;
}

.bannerlist {	
	display: inline;
	list-style-type: none;
	font-size: 1.3em;
	border-left: 1px solid white;
	padding: 5px 40px 10px;
}

.bannerlink {
	color: white;
}

.bannerlist:hover {
	background-color: #e15803;
}

a {
	text-decoration:none;
	color: #0085d8;
}

a:hover:not(.bannerlink) {
	color: #ee5b32;
}

a:visited:not(.bannerlink) { 
    color: #ADD8E6;
}

#main-content {
    display: inline-block;
    max-width: 60%;
    min-height: 500px;
    float: left;
    background-color: white;
    border: 10px solid #f7f7f7;
    margin: -10px 10px 30px 10%;
    padding: 10px 20px 10px

}

#main-content > figure	{
	margin: 0px;
	text-align: center;
}


figcaption {
	font-size: 80%;
	font-style: italic;
}

#socialnav {
	display: inline-block;
	vertical-align: top;
	width: 13%;
	float: left;
	border: 10px solid #f7f7f7;
    margin: -10px 0px;
    background: white;
}

.social-list {
	list-style-type: none;
	padding-bottom: 5px;
}

form {
	padding-top: 50px;
}

label, input {
	display: block;
	padding-bottom: 5px;
	width: 300px;
}

.form-input {
	margin-top: 15px
}

input {
	border: 1px solid black;
	height: 1.6em;
}

button {
	font-size: 1em;
	margin: 10px 10px 10px 0px;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #888888;
	border: 0px;
}

button:hover {
	background-color: #e15803;
	color: white;
}

footer {
	width: 100%;
	clear: both;
  	padding: 5px 0px;
  	background-color: #efefef;
  	text-decoration: underline;
  	text-align: center;
}