body {
  background-color: FloralWhite; /*SeaShell, Snow*/
  font-size: 16px;
  font-family: verdana, arial, sans-serif;
}

#myImg {
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 45%;
}

.close {
  margin-right: -20px;
  margin-top: 5px;
  color: white;
}

@font-face {
  font-family: polya;
  src: url(POLYA.otf);
}

h1 {
  font-family: polya;
  color: #F26C4F;
  font-size: 110px;
  margin-top: 20px;
  margin-left: 80px;
}

#socialnav {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 20px;
  margin-left: -10px;
}

#socialnav li{
  display: inline-block;
}

#socialnav li a {
  display: inline-block;
  padding: 0px 10px;
}

#socialnav li a:hover {
  /*opacity: 0.5;*/
  color: #F26C4F;
  text-decoration: none;
  /*transform: translate3d(0, -50%, 0);*/
  transform: rotateX(180deg) rotateX(180deg);
  background-color: #E9F2F9;
}

a {
  color: #3A89C9;
}

a:hover {
  opacity: 0.5;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#main-content {
  margin-left: 45px;
  width: 55%;
}

li {
 list-style-type: none;
 margin-top: 12px;
}

#resumeModal .modal-content{
  width: 110%;
}
