body {
	font-family: "Verdana", sans-serif;
	margin: 0;
	padding: 0;
}

body::before {
	content: url("Prismatic-Polka-Dots-Mark-II-2-No-Background-2400px.png");
	//background: url("Prismatic-Polka-Dots-Mark-II-2-No-Background-2400px.png");
  	opacity: 0.2;
  	position: fixed;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	z-index: -1;   
}

header {
	background: radial-gradient(circle, #fb7828, #ee5b32);
	padding: 60px 10px 5px;
	max-width: 100%;
	box-shadow: 0px 1px 1px #888888;
	color: white;
}

nav:not(#footernav)	{
	float: right;
}

ul > li {	
	display: inline;
	list-style-type: none;
	font-size: 1.3em;
	border-left: 1px solid white;
	//margin: 10px;
	padding: 5px 40px 10px;
}

.topnavlink {
	color: white;
}

.bannerlist:hover {
	background-color: #e15803;
}

a {
	text-decoration:none;
	color: #0085d8;
}

a:visited:not(.topnavlink, .bottomnavlink) { 
    color: lightblue;
}

h1 {
	font-family: "Courier", sans-serif;
	display: inline;
	font-size: 300%;
	font-weight: normal;
	margin-left: 5px;
}

main {
    width: 70%;
    //padding: 30px 50px
}

form {
	padding: 50px
}

footer {
  	padding: 8px;
  	background-color: #efefef;
  	text-align: center;
}